body {
    background-color:white;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-left: 40% ;
    margin-right: 40% ;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 25px;
    margin-left: 8%;
}
#imagine1{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 8%;
    border-radius: 7%;
}
#imagine2{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 38%;
    border-radius: 7%;
}
#imagine3{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left:68%;
    border-radius: 7%;
    margin-right:8%;
}

.lista {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 4%;
}
.clasificare {
    font-size: 26px;
    margin-left: 5%;
    margin-top: 0%;
    
}
#definitie{
    text-align: center;
    font-size: 25px;
}
#harta{
    position: absolute;
    right: 10%;
    top:104%;
    
}
#moldoveanu{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 8%;
    border-radius: 7%;
}
#sfinx{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 38%;
    border-radius: 7%;
}
#aspecte{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left:68%;
    border-radius: 7%;
}
.spatiu{
    height:260px;
}
#pastrav{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 8%;
    border-radius: 7%;
}
#pitigoi{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 38%;
    border-radius: 7%;
}
#vipera{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left:68%;
    border-radius: 7%;
    margin-right: 8%;
}
#capra{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 8%;
    border-radius: 7%;
}
#cerb{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left: 38%;
    border-radius: 7%;
}
#urs{
    position: absolute;
    width:370px;
    height: 270px;
    margin-left:68%;
    border-radius: 7%;
    margin-right:8%;
}